In [1]:
import pandas as pd

In [2]:
nyc=pd.read_csv('nycflights.csv')
print(nyc)

        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
0       2013      1    1     517.0             515        2.0     830.0
1       2013      1    1     533.0             529        4.0     850.0
2       2013      1    1     542.0             540        2.0     923.0
3       2013      1    1     544.0             545       -1.0    1004.0
4       2013      1    1     554.0             600       -6.0     812.0
5       2013      1    1     554.0             558       -4.0     740.0
6       2013      1    1     555.0             600       -5.0     913.0
7       2013      1    1     557.0             600       -3.0     709.0
8       2013      1    1     557.0             600       -3.0     838.0
9       2013      1    1     558.0             600       -2.0     753.0
10      2013      1    1     558.0             600       -2.0     849.0
11      2013      1    1     558.0             600       -2.0     853.0
12      2013      1    1     558.0             600       -2.0     924.0
13      2013      1    1     558.0             600       -2.0     923.0
14      2013      1    1     559.0             600       -1.0     941.0
15      2013      1    1     559.0             559        0.0     702.0
16      2013      1    1     559.0             600       -1.0     854.0
17      2013      1    1     600.0             600        0.0     851.0
18      2013      1    1     600.0             600        0.0     837.0
19      2013      1    1     601.0             600        1.0     844.0
20      2013      1    1     602.0             610       -8.0     812.0
21      2013      1    1     602.0             605       -3.0     821.0
22      2013      1    1     606.0             610       -4.0     858.0
23      2013      1    1     606.0             610       -4.0     837.0
24      2013      1    1     607.0             607        0.0     858.0
25      2013      1    1     608.0             600        8.0     807.0
26      2013      1    1     611.0             600       11.0     945.0
27      2013      1    1     613.0             610        3.0     925.0
28      2013      1    1     615.0             615        0.0    1039.0
29      2013      1    1     615.0             615        0.0     833.0
...      ...    ...  ...       ...             ...        ...       ...
336746  2013      9   30    2123.0            2125       -2.0    2223.0
336747  2013      9   30    2127.0            2129       -2.0    2314.0
336748  2013      9   30    2128.0            2130       -2.0    2328.0
336749  2013      9   30    2129.0            2059       30.0    2230.0
336750  2013      9   30    2131.0            2140       -9.0    2225.0
336751  2013      9   30    2140.0            2140        0.0      10.0
336752  2013      9   30    2142.0            2129       13.0    2250.0
336753  2013      9   30    2145.0            2145        0.0     115.0
336754  2013      9   30    2147.0            2137       10.0      30.0
336755  2013      9   30    2149.0            2156       -7.0    2245.0
336756  2013      9   30    2150.0            2159       -9.0    2250.0
336757  2013      9   30    2159.0            1845      194.0    2344.0
336758  2013      9   30    2203.0            2205       -2.0    2339.0
336759  2013      9   30    2207.0            2140       27.0    2257.0
336760  2013      9   30    2211.0            2059       72.0    2339.0
336761  2013      9   30    2231.0            2245      -14.0    2335.0
336762  2013      9   30    2233.0            2113       80.0     112.0
336763  2013      9   30    2235.0            2001      154.0      59.0
336764  2013      9   30    2237.0            2245       -8.0    2345.0
336765  2013      9   30    2240.0            2245       -5.0    2334.0
336766  2013      9   30    2240.0            2250      -10.0    2347.0
336767  2013      9   30    2241.0            2246       -5.0    2345.0
336768  2013      9   30    2307.0            2255       12.0    2359.0
336769  2013      9   30    2349.0            2359      -10.0     325.0
336770  2013      9   30       NaN            1842        NaN       NaN
336771  2013      9   30       NaN            1455        NaN       NaN
336772  2013      9   30       NaN            2200        NaN       NaN
336773  2013      9   30       NaN            1210        NaN       NaN
336774  2013      9   30       NaN            1159        NaN       NaN
336775  2013      9   30       NaN             840        NaN       NaN

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
0                  819       11.0      UA    1545  N14228    EWR  IAH
1                  830       20.0      UA    1714  N24211    LGA  IAH
2                  850       33.0      AA    1141  N619AA    JFK  MIA
3                 1022      -18.0      B6     725  N804JB    JFK  BQN
4                  837      -25.0      DL     461  N668DN    LGA  ATL
5                  728       12.0      UA    1696  N39463    EWR  ORD
6                  854       19.0      B6     507  N516JB    EWR  FLL
7                  723      -14.0      EV    5708  N829AS    LGA  IAD
8                  846       -8.0      B6      79  N593JB    JFK  MCO
9                  745        8.0      AA     301  N3ALAA    LGA  ORD
10                 851       -2.0      B6      49  N793JB    JFK  PBI
11                 856       -3.0      B6      71  N657JB    JFK  TPA
12                 917        7.0      UA     194  N29129    JFK  LAX
13                 937      -14.0      UA    1124  N53441    EWR  SFO
14                 910       31.0      AA     707  N3DUAA    LGA  DFW
15                 706       -4.0      B6    1806  N708JB    JFK  BOS
16                 902       -8.0      UA    1187  N76515    EWR  LAS
17                 858       -7.0      B6     371  N595JB    LGA  FLL
18                 825       12.0      MQ    4650  N542MQ    LGA  ATL
19                 850       -6.0      B6     343  N644JB    EWR  PBI
20                 820       -8.0      DL    1919  N971DL    LGA  MSP
21                 805       16.0      MQ    4401  N730MQ    LGA  DTW
22                 910      -12.0      AA    1895  N633AA    EWR  MIA
23                 845       -8.0      DL    1743  N3739P    JFK  ATL
24                 915      -17.0      UA    1077  N53442    EWR  MIA
25                 735       32.0      MQ    3768  N9EAMQ    EWR  ORD
26                 931       14.0      UA     303  N532UA    JFK  SFO
27                 921        4.0      B6     135  N635JB    JFK  RSW
28                1100      -21.0      B6     709  N794JB    JFK  SJU
29                 842       -9.0      DL     575  N326NB    EWR  ATL
...                ...        ...     ...     ...     ...    ...  ...
336746            2247      -24.0      EV    5489  N712EV    LGA  CHO
336747            2323       -9.0      EV    3833  N16546    EWR  CLT
336748            2359      -31.0      B6      97  N807JB    JFK  DEN
336749            2232       -2.0      EV    5048  N751EV    LGA  RIC
336750            2255      -30.0      MQ    3621  N807MQ    JFK  DCA
336751              40      -30.0      AA     185  N335AA    JFK  LAX
336752            2239       11.0      EV    4509  N12957    EWR  PWM
336753             140      -25.0      B6    1103  N633JB    JFK  SJU
336754              27        3.0      B6    1371  N627JB    LGA  FLL
336755            2308      -23.0      UA     523  N813UA    EWR  BOS
336756            2306      -16.0      EV    3842  N10575    EWR  MHT
336757            2030      194.0      9E    3320  N906XJ    JFK  BUF
336758            2331        8.0      EV    5311  N722EV    LGA  BGR
336759            2250        7.0      MQ    3660  N532MQ    LGA  BNA
336760            2242       57.0      EV    4672  N12145    EWR  STL
336761            2356      -21.0      B6     108  N193JB    JFK  PWM
336762              30       42.0      UA     471  N578UA    EWR  SFO
336763            2249      130.0      B6    1083  N804JB    JFK  MCO
336764            2353       -8.0      B6     234  N318JB    JFK  BTV
336765            2351      -17.0      B6    1816  N354JB    JFK  SYR
336766               7      -20.0      B6    2002  N281JB    JFK  BUF
336767               1      -16.0      B6     486  N346JB    JFK  ROC
336768            2358        1.0      B6     718  N565JB    JFK  BOS
336769             350      -25.0      B6     745  N516JB    JFK  PSE
336770            2019        NaN      EV    5274  N740EV    LGA  BNA
336771            1634        NaN      9E    3393     NaN    JFK  DCA
336772            2312        NaN      9E    3525     NaN    LGA  SYR
336773            1330        NaN      MQ    3461  N535MQ    LGA  BNA
336774            1344        NaN      MQ    3572  N511MQ    LGA  CLE
336775            1020        NaN      MQ    3531  N839MQ    LGA  RDU

        air_time  distance  hour  minute        time_hour
0          227.0      1400     5      15    1/1/2013 5:00
1          227.0      1416     5      29    1/1/2013 5:00
2          160.0      1089     5      40    1/1/2013 5:00
3          183.0      1576     5      45    1/1/2013 5:00
4          116.0       762     6       0    1/1/2013 6:00
5          150.0       719     5      58    1/1/2013 5:00
6          158.0      1065     6       0    1/1/2013 6:00
7           53.0       229     6       0    1/1/2013 6:00
8          140.0       944     6       0    1/1/2013 6:00
9          138.0       733     6       0    1/1/2013 6:00
10         149.0      1028     6       0    1/1/2013 6:00
11         158.0      1005     6       0    1/1/2013 6:00
12         345.0      2475     6       0    1/1/2013 6:00
13         361.0      2565     6       0    1/1/2013 6:00
14         257.0      1389     6       0    1/1/2013 6:00
15          44.0       187     5      59    1/1/2013 5:00
16         337.0      2227     6       0    1/1/2013 6:00
17         152.0      1076     6       0    1/1/2013 6:00
18         134.0       762     6       0    1/1/2013 6:00
19         147.0      1023     6       0    1/1/2013 6:00
20         170.0      1020     6      10    1/1/2013 6:00
21         105.0       502     6       5    1/1/2013 6:00
22         152.0      1085     6      10    1/1/2013 6:00
23         128.0       760     6      10    1/1/2013 6:00
24         157.0      1085     6       7    1/1/2013 6:00
25         139.0       719     6       0    1/1/2013 6:00
26         366.0      2586     6       0    1/1/2013 6:00
27         175.0      1074     6      10    1/1/2013 6:00
28         182.0      1598     6      15    1/1/2013 6:00
29         120.0       746     6      15    1/1/2013 6:00
...          ...       ...   ...     ...              ...
336746      45.0       305    21      25  9/30/2013 21:00
336747      72.0       529    21      29  9/30/2013 21:00
336748     213.0      1626    21      30  9/30/2013 21:00
336749      45.0       292    20      59  9/30/2013 20:00
336750      36.0       213    21      40  9/30/2013 21:00
336751     298.0      2475    21      40  9/30/2013 21:00
336752      47.0       284    21      29  9/30/2013 21:00
336753     192.0      1598    21      45  9/30/2013 21:00
336754     139.0      1076    21      37  9/30/2013 21:00
336755      37.0       200    21      56  9/30/2013 21:00
336756      39.0       209    21      59  9/30/2013 21:00
336757      50.0       301    18      45  9/30/2013 18:00
336758      61.0       378    22       5  9/30/2013 22:00
336759      97.0       764    21      40  9/30/2013 21:00
336760     120.0       872    20      59  9/30/2013 20:00
336761      48.0       273    22      45  9/30/2013 22:00
336762     318.0      2565    21      13  9/30/2013 21:00
336763     123.0       944    20       1  9/30/2013 20:00
336764      43.0       266    22      45  9/30/2013 22:00
336765      41.0       209    22      45  9/30/2013 22:00
336766      52.0       301    22      50  9/30/2013 22:00
336767      47.0       264    22      46  9/30/2013 22:00
336768      33.0       187    22      55  9/30/2013 22:00
336769     196.0      1617    23      59  9/30/2013 23:00
336770       NaN       764    18      42  9/30/2013 18:00
336771       NaN       213    14      55  9/30/2013 14:00
336772       NaN       198    22       0  9/30/2013 22:00
336773       NaN       764    12      10  9/30/2013 12:00
336774       NaN       419    11      59  9/30/2013 11:00
336775       NaN       431     8      40   9/30/2013 8:00

[336776 rows x 19 columns]

In [3]:
index=nyc.index
columns=nyc.columns
values=nyc.values

In [4]:
print(type(index))
print(type(columns))
print(type(values))

<class 'pandas.core.indexes.range.RangeIndex'>
<class 'pandas.core.indexes.base.Index'>
<class 'numpy.ndarray'>

In [5]:
print(list(nyc.columns.values))
#print(list(nyc.index.values))

['year', 'month', 'day', 'dep_time', 'sched_dep_time', 'dep_delay', 'arr_time', 'sched_arr_time', 'arr_delay', 'carrier', 'flight', 'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour', 'minute', 'time_hour']

In [6]:
#selecting data frame as a single column. to return a series
nyc['month']

0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
         ..
336746    9
336747    9
336748    9
336749    9
336750    9
336751    9
336752    9
336753    9
336754    9
336755    9
336756    9
336757    9
336758    9
336759    9
336760    9
336761    9
336762    9
336763    9
336764    9
336765    9
336766    9
336767    9
336768    9
336769    9
336770    9
336771    9
336772    9
336773    9
336774    9
336775    9
Name: month, Length: 336776, dtype: int64

In [7]:
#indexing multiple columns
nyc[['month','year','day']]

        month  year  day
0           1  2013    1
1           1  2013    1
2           1  2013    1
3           1  2013    1
4           1  2013    1
5           1  2013    1
6           1  2013    1
7           1  2013    1
8           1  2013    1
9           1  2013    1
10          1  2013    1
11          1  2013    1
12          1  2013    1
13          1  2013    1
14          1  2013    1
15          1  2013    1
16          1  2013    1
17          1  2013    1
18          1  2013    1
19          1  2013    1
20          1  2013    1
21          1  2013    1
22          1  2013    1
23          1  2013    1
24          1  2013    1
25          1  2013    1
26          1  2013    1
27          1  2013    1
28          1  2013    1
29          1  2013    1
...       ...   ...  ...
336746      9  2013   30
336747      9  2013   30
336748      9  2013   30
336749      9  2013   30
336750      9  2013   30
336751      9  2013   30
336752      9  2013   30
336753      9  2013   30
336754      9  2013   30
336755      9  2013   30
336756      9  2013   30
336757      9  2013   30
336758      9  2013   30
336759      9  2013   30
336760      9  2013   30
336761      9  2013   30
336762      9  2013   30
336763      9  2013   30
336764      9  2013   30
336765      9  2013   30
336766      9  2013   30
336767      9  2013   30
336768      9  2013   30
336769      9  2013   30
336770      9  2013   30
336771      9  2013   30
336772      9  2013   30
336773      9  2013   30
336774      9  2013   30
336775      9  2013   30

[336776 rows x 3 columns]

In [8]:
nyc[['year']]

        year
0       2013
1       2013
2       2013
3       2013
4       2013
5       2013
6       2013
7       2013
8       2013
9       2013
10      2013
11      2013
12      2013
13      2013
14      2013
15      2013
16      2013
17      2013
18      2013
19      2013
20      2013
21      2013
22      2013
23      2013
24      2013
25      2013
26      2013
27      2013
28      2013
29      2013
...      ...
336746  2013
336747  2013
336748  2013
336749  2013
336750  2013
336751  2013
336752  2013
336753  2013
336754  2013
336755  2013
336756  2013
336757  2013
336758  2013
336759  2013
336760  2013
336761  2013
336762  2013
336763  2013
336764  2013
336765  2013
336766  2013
336767  2013
336768  2013
336769  2013
336770  2013
336771  2013
336772  2013
336773  2013
336774  2013
336775  2013

[336776 rows x 1 columns]

In [9]:
#selecting rows
nyc.loc[2013]

year                       2013
month                         1
day                           3
dep_time                    911
sched_dep_time              906
dep_delay                     5
arr_time                   1242
sched_arr_time             1216
arr_delay                    26
carrier                      UA
flight                      634
tailnum                  N444UA
origin                      EWR
dest                        PBI
air_time                    173
distance                   1023
hour                          9
minute                        6
time_hour         1/3/2013 9:00
Name: 2013, dtype: object

In [10]:
nyc.loc[[2013,2014,2015]]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
2013,2013,1,3,911.0,906,5.0,1242.0,1216,26.0,UA,634,N444UA,EWR,PBI,173.0,1023,9,6,1/3/2013 9:00
2014,2013,1,3,911.0,900,11.0,1255.0,1216,39.0,UA,76,N73276,LGA,IAH,244.0,1416,9,0,1/3/2013 9:00
2015,2013,1,3,912.0,730,102.0,1258.0,1040,138.0,AA,715,N513AA,LGA,DFW,247.0,1389,7,30,1/3/2013 7:00

In [11]:
nyc.loc[2013:5000]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
2013,2013,1,3,911.0,906,5.0,1242.0,1216,26.0,UA,634,N444UA,EWR,PBI,173.0,1023,9,6,1/3/2013 9:00
2014,2013,1,3,911.0,900,11.0,1255.0,1216,39.0,UA,76,N73276,LGA,IAH,244.0,1416,9,0,1/3/2013 9:00
2015,2013,1,3,912.0,730,102.0,1258.0,1040,138.0,AA,715,N513AA,LGA,DFW,247.0,1389,7,30,1/3/2013 7:00
2016,2013,1,3,912.0,919,-7.0,1011.0,1030,-19.0,B6,1004,N615JB,JFK,BOS,29.0,187,9,19,1/3/2013 9:00
2017,2013,1,3,913.0,904,9.0,1106.0,1053,13.0,UA,1529,N33714,EWR,CLE,73.0,404,9,4,1/3/2013 9:00
2018,2013,1,3,914.0,900,14.0,1504.0,1530,-26.0,HA,51,N380HA,JFK,HNL,616.0,4983,9,0,1/3/2013 9:00
2019,2013,1,3,914.0,920,-6.0,1235.0,1240,-5.0,AA,1589,N4WJAA,EWR,DFW,223.0,1372,9,20,1/3/2013 9:00
2020,2013,1,3,916.0,805,71.0,1128.0,1005,83.0,B6,219,N283JB,JFK,CLT,98.0,541,8,5,1/3/2013 8:00
2021,2013,1,3,917.0,920,-3.0,1108.0,1108,0.0,B6,1103,N178JB,JFK,RDU,87.0,427,9,20,1/3/2013 9:00
2022,2013,1,3,923.0,929,-6.0,1210.0,1206,4.0,EV,4140,N15986,EWR,ATL,129.0,746,9,29,1/3/2013 9:00
2023,2013,1,3,923.0,930,-7.0,1238.0,1238,0.0,B6,375,N565JB,LGA,FLL,167.0,1076,9,30,1/3/2013 9:00
2024,2013,1,3,923.0,925,-2.0,1207.0,1150,17.0,WN,766,N770SA,EWR,DEN,227.0,1605,9,25,1/3/2013 9:00
2025,2013,1,3,926.0,929,-3.0,1421.0,1421,0.0,B6,215,N509JB,EWR,SJU,200.0,1608,9,29,1/3/2013 9:00
2026,2013,1,3,926.0,930,-4.0,1157.0,1225,-28.0,VX,251,N852VA,JFK,LAS,296.0,2248,9,30,1/3/2013 9:00
2027,2013,1,3,926.0,920,6.0,1140.0,1125,15.0,MQ,4582,N542MQ,LGA,CLT,97.0,544,9,20,1/3/2013 9:00
2028,2013,1,3,927.0,929,-2.0,1140.0,1123,17.0,EV,4234,N14952,EWR,STL,159.0,872,9,29,1/3/2013 9:00
2029,2013,1,3,928.0,929,-1.0,1036.0,1044,-8.0,EV,4636,N14542,EWR,DCA,40.0,199,9,29,1/3/2013 9:00
2030,2013,1,3,933.0,937,-4.0,1048.0,1102,-14.0,B6,4,N607JB,JFK,BUF,59.0,301,9,37,1/3/2013 9:00
2031,2013,1,3,933.0,935,-2.0,1100.0,1105,-5.0,WN,986,N923WN,LGA,MDW,123.0,725,9,35,1/3/2013 9:00
2032,2013,1,3,936.0,845,51.0,1446.0,1350,56.0,AA,1357,N5FFAA,JFK,SJU,205.0,1598,8,45,1/3/2013 8:00
2033,2013,1,3,936.0,927,9.0,1221.0,1240,-19.0,UA,1223,N74856,EWR,LAX,306.0,2454,9,27,1/3/2013 9:00
2034,2013,1,3,937.0,755,102.0,1246.0,1110,96.0,AA,2267,N3BLAA,LGA,MIA,165.0,1096,7,55,1/3/2013 7:00
2035,2013,1,3,941.0,945,-4.0,1153.0,1258,-65.0,B6,679,N789JB,JFK,LAX,297.0,2475,9,45,1/3/2013 9:00
2036,2013,1,3,941.0,922,19.0,1307.0,1219,48.0,B6,57,N579JB,JFK,PBI,167.0,1028,9,22,1/3/2013 9:00
2037,2013,1,3,944.0,745,119.0,1112.0,930,102.0,AA,309,N578AA,LGA,ORD,128.0,733,7,45,1/3/2013 7:00
2038,2013,1,3,944.0,940,4.0,1300.0,1235,25.0,B6,361,N563JB,LGA,PBI,164.0,1035,9,40,1/3/2013 9:00
2039,2013,1,3,946.0,940,6.0,1106.0,1120,-14.0,WN,1807,N938WN,LGA,MKE,115.0,738,9,40,1/3/2013 9:00
2040,2013,1,3,947.0,1000,-13.0,1245.0,1310,-25.0,B6,503,N641JB,EWR,FLL,155.0,1065,10,0,1/3/2013 10:00
2041,2013,1,3,948.0,959,-11.0,1107.0,1114,-7.0,EV,5711,N877AS,JFK,IAD,56.0,228,9,59,1/3/2013 9:00
2042,2013,1,3,948.0,950,-2.0,1232.0,1210,22.0,9E,3961,N8492C,LGA,GRR,104.0,618,9,50,1/3/2013 9:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4971,2013,1,6,1815.0,1810,5.0,2128.0,2132,-4.0,B6,217,N526JB,JFK,LGB,337.0,2465,18,10,1/6/2013 18:00
4972,2013,1,6,1816.0,1815,1.0,2045.0,2050,-5.0,DL,926,N306DQ,EWR,ATL,118.0,746,18,15,1/6/2013 18:00
4973,2013,1,6,1816.0,1810,6.0,2143.0,2150,-7.0,UA,979,N818UA,EWR,PHX,296.0,2133,18,10,1/6/2013 18:00
4974,2013,1,6,1817.0,1815,2.0,2146.0,2130,16.0,AS,7,N551AS,EWR,SEA,350.0,2402,18,15,1/6/2013 18:00
4975,2013,1,6,1817.0,1745,32.0,2124.0,2042,42.0,B6,547,N644JB,EWR,PBI,153.0,1023,17,45,1/6/2013 17:00
4976,2013,1,6,1817.0,1702,75.0,2121.0,2020,61.0,UA,1222,N27205,EWR,LAX,327.0,2454,17,2,1/6/2013 17:00
4977,2013,1,6,1818.0,1815,3.0,2015.0,2032,-17.0,EV,5054,N717EV,EWR,MSP,145.0,1008,18,15,1/6/2013 18:00
4978,2013,1,6,1818.0,1815,3.0,2028.0,2037,-9.0,9E,3424,N928XJ,JFK,DTW,90.0,509,18,15,1/6/2013 18:00
4979,2013,1,6,1818.0,1745,33.0,2117.0,2037,40.0,B6,391,N585JB,LGA,MCO,153.0,950,17,45,1/6/2013 17:00
4980,2013,1,6,1818.0,1811,7.0,2019.0,1952,27.0,UA,1053,N27724,EWR,CLE,71.0,404,18,11,1/6/2013 18:00
4981,2013,1,6,1820.0,1815,5.0,2128.0,2151,-23.0,B6,173,N637JB,JFK,SJC,344.0,2569,18,15,1/6/2013 18:00
4982,2013,1,6,1820.0,1815,5.0,2013.0,2026,-13.0,DL,2019,N316US,LGA,MSP,146.0,1020,18,15,1/6/2013 18:00
4983,2013,1,6,1820.0,1830,-10.0,1955.0,2015,-20.0,MQ,4674,N542MQ,LGA,CLE,71.0,419,18,30,1/6/2013 18:00
4984,2013,1,6,1822.0,1815,7.0,2210.0,2134,36.0,UA,1165,N12221,EWR,LAX,330.0,2454,18,15,1/6/2013 18:00
4985,2013,1,6,1824.0,1830,-6.0,2045.0,2044,1.0,9E,3716,N8896A,EWR,DTW,88.0,488,18,30,1/6/2013 18:00
4986,2013,1,6,1827.0,1830,-3.0,2201.0,2205,-4.0,AA,269,N3HNAA,JFK,SEA,354.0,2422,18,30,1/6/2013 18:00
4987,2013,1,6,1828.0,1745,43.0,2055.0,2020,35.0,MQ,4413,N739MQ,LGA,XNA,179.0,1147,17,45,1/6/2013 17:00
4988,2013,1,6,1828.0,1804,24.0,2030.0,1944,46.0,UA,326,N402UA,EWR,ORD,106.0,719,18,4,1/6/2013 18:00
4989,2013,1,6,1829.0,1830,-1.0,2141.0,2202,-21.0,UA,272,N505UA,JFK,SFO,336.0,2586,18,30,1/6/2013 18:00
4990,2013,1,6,1830.0,1815,15.0,2210.0,2122,48.0,UA,1612,N78448,EWR,SEA,342.0,2402,18,15,1/6/2013 18:00
4991,2013,1,6,1830.0,1829,1.0,2040.0,2032,8.0,US,1973,N409US,EWR,CLT,91.0,529,18,29,1/6/2013 18:00
4992,2013,1,6,1832.0,1835,-3.0,1942.0,1950,-8.0,MQ,3944,N636MQ,JFK,BWI,41.0,184,18,35,1/6/2013 18:00
4993,2013,1,6,1833.0,1840,-7.0,2008.0,2020,-12.0,MQ,3730,N8EGMQ,EWR,ORD,109.0,719,18,40,1/6/2013 18:00
4994,2013,1,6,1834.0,1836,-2.0,2011.0,2010,1.0,B6,130,N281JB,JFK,BUF,61.0,301,18,36,1/6/2013 18:00
4995,2013,1,6,1834.0,1835,-1.0,2219.0,2212,7.0,DL,1643,N3771K,JFK,SEA,354.0,2422,18,35,1/6/2013 18:00
4996,2013,1,6,1835.0,1819,16.0,2154.0,2140,14.0,UA,1656,N16709,EWR,SNA,341.0,2434,18,19,1/6/2013 18:00
4997,2013,1,6,1835.0,1815,20.0,2100.0,2034,26.0,UA,428,N474UA,EWR,DEN,222.0,1605,18,15,1/6/2013 18:00
4998,2013,1,6,1837.0,1758,39.0,2115.0,2014,61.0,EV,4573,N16112,EWR,MCI,168.0,1092,17,58,1/6/2013 17:00
4999,2013,1,6,1837.0,1845,-8.0,2017.0,2030,-13.0,MQ,4517,N736MQ,LGA,CRW,80.0,444,18,45,1/6/2013 18:00
5000,2013,1,6,1839.0,1836,3.0,2118.0,2031,47.0,EV,4437,N15912,EWR,CAE,115.0,602,18,36,1/6/2013 18:00

In [12]:
nyc.loc[:20]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,1/1/2013 5:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,1/1/2013 5:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,1/1/2013 5:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,1/1/2013 5:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,1/1/2013 6:00
5,2013,1,1,554.0,558,-4.0,740.0,728,12.0,UA,1696,N39463,EWR,ORD,150.0,719,5,58,1/1/2013 5:00
6,2013,1,1,555.0,600,-5.0,913.0,854,19.0,B6,507,N516JB,EWR,FLL,158.0,1065,6,0,1/1/2013 6:00
7,2013,1,1,557.0,600,-3.0,709.0,723,-14.0,EV,5708,N829AS,LGA,IAD,53.0,229,6,0,1/1/2013 6:00
8,2013,1,1,557.0,600,-3.0,838.0,846,-8.0,B6,79,N593JB,JFK,MCO,140.0,944,6,0,1/1/2013 6:00
9,2013,1,1,558.0,600,-2.0,753.0,745,8.0,AA,301,N3ALAA,LGA,ORD,138.0,733,6,0,1/1/2013 6:00
10,2013,1,1,558.0,600,-2.0,849.0,851,-2.0,B6,49,N793JB,JFK,PBI,149.0,1028,6,0,1/1/2013 6:00
11,2013,1,1,558.0,600,-2.0,853.0,856,-3.0,B6,71,N657JB,JFK,TPA,158.0,1005,6,0,1/1/2013 6:00
12,2013,1,1,558.0,600,-2.0,924.0,917,7.0,UA,194,N29129,JFK,LAX,345.0,2475,6,0,1/1/2013 6:00
13,2013,1,1,558.0,600,-2.0,923.0,937,-14.0,UA,1124,N53441,EWR,SFO,361.0,2565,6,0,1/1/2013 6:00
14,2013,1,1,559.0,600,-1.0,941.0,910,31.0,AA,707,N3DUAA,LGA,DFW,257.0,1389,6,0,1/1/2013 6:00
15,2013,1,1,559.0,559,0.0,702.0,706,-4.0,B6,1806,N708JB,JFK,BOS,44.0,187,5,59,1/1/2013 5:00
16,2013,1,1,559.0,600,-1.0,854.0,902,-8.0,UA,1187,N76515,EWR,LAS,337.0,2227,6,0,1/1/2013 6:00
17,2013,1,1,600.0,600,0.0,851.0,858,-7.0,B6,371,N595JB,LGA,FLL,152.0,1076,6,0,1/1/2013 6:00
18,2013,1,1,600.0,600,0.0,837.0,825,12.0,MQ,4650,N542MQ,LGA,ATL,134.0,762,6,0,1/1/2013 6:00
19,2013,1,1,601.0,600,1.0,844.0,850,-6.0,B6,343,N644JB,EWR,PBI,147.0,1023,6,0,1/1/2013 6:00
20,2013,1,1,602.0,610,-8.0,812.0,820,-8.0,DL,1919,N971DL,LGA,MSP,170.0,1020,6,10,1/1/2013 6:00

In [13]:
nyc.loc[:20:3]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,1/1/2013 5:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,1/1/2013 5:00
6,2013,1,1,555.0,600,-5.0,913.0,854,19.0,B6,507,N516JB,EWR,FLL,158.0,1065,6,0,1/1/2013 6:00
9,2013,1,1,558.0,600,-2.0,753.0,745,8.0,AA,301,N3ALAA,LGA,ORD,138.0,733,6,0,1/1/2013 6:00
12,2013,1,1,558.0,600,-2.0,924.0,917,7.0,UA,194,N29129,JFK,LAX,345.0,2475,6,0,1/1/2013 6:00
15,2013,1,1,559.0,559,0.0,702.0,706,-4.0,B6,1806,N708JB,JFK,BOS,44.0,187,5,59,1/1/2013 5:00
18,2013,1,1,600.0,600,0.0,837.0,825,12.0,MQ,4650,N542MQ,LGA,ATL,134.0,762,6,0,1/1/2013 6:00

In [14]:
nyc.loc[[1,2],['year','month','day']]

   year  month  day
1  2013      1    1
2  2013      1    1

In [15]:
nyc.loc[[1,2],'year']

1    2013
2    2013
Name: year, dtype: int64

In [16]:
nyc.loc[1:200,'year']

1      2013
2      2013
3      2013
4      2013
5      2013
6      2013
7      2013
8      2013
9      2013
10     2013
11     2013
12     2013
13     2013
14     2013
15     2013
16     2013
17     2013
18     2013
19     2013
20     2013
21     2013
22     2013
23     2013
24     2013
25     2013
26     2013
27     2013
28     2013
29     2013
30     2013
       ...
171    2013
172    2013
173    2013
174    2013
175    2013
176    2013
177    2013
178    2013
179    2013
180    2013
181    2013
182    2013
183    2013
184    2013
185    2013
186    2013
187    2013
188    2013
189    2013
190    2013
191    2013
192    2013
193    2013
194    2013
195    2013
196    2013
197    2013
198    2013
199    2013
200    2013
Name: year, Length: 200, dtype: int64

In [17]:
nyc.loc[1:50,:'day']

    year  month  day
1   2013      1    1
2   2013      1    1
3   2013      1    1
4   2013      1    1
5   2013      1    1
6   2013      1    1
7   2013      1    1
8   2013      1    1
9   2013      1    1
10  2013      1    1
11  2013      1    1
12  2013      1    1
13  2013      1    1
14  2013      1    1
15  2013      1    1
16  2013      1    1
17  2013      1    1
18  2013      1    1
19  2013      1    1
20  2013      1    1
21  2013      1    1
22  2013      1    1
23  2013      1    1
24  2013      1    1
25  2013      1    1
26  2013      1    1
27  2013      1    1
28  2013      1    1
29  2013      1    1
30  2013      1    1
31  2013      1    1
32  2013      1    1
33  2013      1    1
34  2013      1    1
35  2013      1    1
36  2013      1    1
37  2013      1    1
38  2013      1    1
39  2013      1    1
40  2013      1    1
41  2013      1    1
42  2013      1    1
43  2013      1    1
44  2013      1    1
45  2013      1    1
46  2013      1    1
47  2013      1    1
48  2013      1    1
49  2013      1    1
50  2013      1    1

In [18]:
rows=list(range(1,10,2))
print(rows)
cols=['year','month','day']

nyc.loc[rows,cols]

[1, 3, 5, 7, 9]

   year  month  day
1  2013      1    1
3  2013      1    1
5  2013      1    1
7  2013      1    1
9  2013      1    1

In [19]:
#.iloc using integer location

nyc.iloc[3:10]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,1/1/2013 5:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,1/1/2013 6:00
5,2013,1,1,554.0,558,-4.0,740.0,728,12.0,UA,1696,N39463,EWR,ORD,150.0,719,5,58,1/1/2013 5:00
6,2013,1,1,555.0,600,-5.0,913.0,854,19.0,B6,507,N516JB,EWR,FLL,158.0,1065,6,0,1/1/2013 6:00
7,2013,1,1,557.0,600,-3.0,709.0,723,-14.0,EV,5708,N829AS,LGA,IAD,53.0,229,6,0,1/1/2013 6:00
8,2013,1,1,557.0,600,-3.0,838.0,846,-8.0,B6,79,N593JB,JFK,MCO,140.0,944,6,0,1/1/2013 6:00
9,2013,1,1,558.0,600,-2.0,753.0,745,8.0,AA,301,N3ALAA,LGA,ORD,138.0,733,6,0,1/1/2013 6:00

In [20]:
nyc.iloc[[1,2,10]]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,1/1/2013 5:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,1/1/2013 5:00
10,2013,1,1,558.0,600,-2.0,849.0,851,-2.0,B6,49,N793JB,JFK,PBI,149.0,1028,6,0,1/1/2013 6:00

In [21]:
nyc.iloc[[1,2],[4,5]]

   sched_dep_time  dep_delay
1             529        4.0
2             540        2.0

In [22]:
nyc.iloc[0,0]

2013

In [23]:
nyc.index

RangeIndex(start=0, stop=336776, step=1)

In [24]:
list(nyc.index)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [26]:
list(range(0,336776))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [27]:
nyc.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,1/1/2013 5:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,1/1/2013 5:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,1/1/2013 5:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,1/1/2013 5:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,1/1/2013 6:00

In [43]:
test2=nyc.iloc[0:6,0:5]
test2_head=test2.head()
print(test2_head)
criteria=[True,False,True,True,False,True]

#boolean subsetting for rows
test2[criteria]

   year  month  day  dep_time  sched_dep_time
0  2013      1    1     517.0             515
1  2013      1    1     533.0             529
2  2013      1    1     542.0             540
3  2013      1    1     544.0             545
4  2013      1    1     554.0             600

   year  month  day  dep_time  sched_dep_time
0  2013      1    1     517.0             515
2  2013      1    1     542.0             540
3  2013      1    1     544.0             545
5  2013      1    1     554.0             558

In [45]:
colcriteria=[True,False,True,True,False]

test2.loc[criteria,colcriteria].head()

   year  day  dep_time
0  2013    1     517.0
2  2013    1     542.0
3  2013    1     544.0
5  2013    1     554.0